@import "./base.css";
html,
body，#app {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  font-size: 14px;
}
#app {
  display: block;
  width: 100%;
  min-height: 100vh;
}
body {
  color: #666;
}
a {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

a:focus {
  outline: none;
  box-shadow: none;
}

ul,
li,
ol {
  /*user-select: none;*/
  list-style: none;
  padding: 0;
  margin: 0;
}
